{% extends 'base.html' %}

{% block title %}IIIF{% endblock %}
{% block css %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.6/codemirror.min.css
">
{% endblock %}
{% block content %}
<main id="main" class="main">

  <div class="pagetitle">

    <nav>
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="../">Home</a></li>

      </ol>
    </nav>
  </div><!-- End Page Title -->

  <section class="section dashboard">
    <div class="row">

      <!-- Card with an image on left -->
      <div class="card mb-3">


        <div class="col-md-8">
          <div class="card-body">
            <h5 class="card-title">Introduction</h5>
            <p class="card-text">The International Image Interoperability Framework (IIIF) provides common standards for publishing images, audio and video with metadata to the web.</p>
            
            <ul>
              <li class="card-text">IIIF makes it possible to store information about items in a simple JSON file called a "manifest."</li>
              <li class="card-text">However, in the quest to create a framework for any combination of media and metadata, the IIIF manifest has become a complicated hierarchy of nested objects.</li> 
              <li class="card-text">This complexity makes publishing media to the web using IIIF really difficult.</li>
              <li class="card-text">This project is an effort to make IIIF publising simpler and more accessible to researchers.</li>

            </ul>
            <p>How to use this app</p>
            <ol>
              <li class="card-text">The first step is to create a collection.</li>
              <li class="card-text">Now you can add items to the collection.  Each item can have many images associated with it.</li>
              <li class="card-text">This app generates all the necessary manifests to publish your collection and items using IIIF</li>
            </ol>
            <p>What you get</p>
            <ul>
              <li class="card-text">You have direct access to the image file, <a href="http://tuatara.pennds.org/image/playbill.jpg">http://tuatara.pennds.org/image/playbill.jpg</a> </li>
              <li class="card-text">Or load the image from the IIIF image server <a href="https://tuatara.pennds.org/iiif/3/playbill.jpg/full/max/0/default.jpg">https://tuatara.pennds.org/iiif/3/playbill.jpg/full/max/0/default.jpg</a> </li>
              <li class="card-text">Or load with Universal Viewer by pointing to a manifest <a href="https://uv-v3.netlify.app/#?c=&m=&s=&cv=&manifest=https://tuatara.pennds.org/manifest/frogs.json">https://uv-v3.netlify.app/#?c=&m=&s=&cv=&manifest=https://tuatara.pennds.org/manifest/frogs.json
              </a> </li>
              <li class="card-text">Or load the image using OpenSeaDragon (similar to <a href="https://github.com/minicomp/wax/blob/main/_includes/osd_iiif_image_viewer.html">Wax</a>) <a href="https://greenseer.pennds.org/?manifest=https://tuatara.pennds.org/manifest/bull-frog.json
                ">https://greenseer.pennds.org/?manifest=https://tuatara.pennds.org/manifest/bull-frog.json
              </a> </li>
            </ul>
          </div>
        </div>


      </div>

      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Add Collection</h5>
          <form method="post" action="/add_collection" enctype="multipart/form-data">
            <div class="row mb-3">
              <label for="inputEmail3" class="col-sm-2 col-form-label">Collection Label*</label>
              <div class="col-sm-10">
                <input name="label" type="text" class="form-control" id="label">
              </div>
            </div>

            <div class="row mb-3">
              <label for="inputSummary" class="col-sm-2 col-form-label">Summary</label>
              <div class="col-sm-10">
                <textarea name="location" id="summary" class="form-control" style="height: 100px"></textarea>
              </div>
            </div>
            <div class="text-center">
              <button type="submit" class="btn btn-primary">Submit</button>
              <button type="reset" class="btn btn-secondary">Reset</button>
              {% if collection_created %}
              <div class="alert alert-primary alert-dismissible fade show" role="alert">Collection created successfully
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
              </div>
              {% endif %}
            </div>
          </form>

        </div>
      </div>

      <div id="item" class="card">
        <div class="card-body">
          <h5 class="card-title">Add Item</h5>
          <form method="post" action="/add#item" enctype="multipart/form-data">
            <div class="row mb-3">
              <label for="inputEmail3" class="col-sm-2 col-form-label">Item Label*</label>
              <div class="col-sm-10">
                <input name="label" type="text" class="form-control" id="label" required>
              </div>
            </div>
            <div class="row mb-3">
              <label class="col-sm-2 col-form-label">Collection</label>
              <div class="col-sm-10">
                <select name="collection" class="form-select" aria-label="Default select example">
                  <option selected>Open this select menu</option>
                  {% for name in collection_names %}
                  <option value="{{ name }}">{{name }}</option>
                  {% endfor %}
                  n>
                </select>
              </div>
            </div>

            <div class="row mb-3">
              <label for="inputNumber" class="col-sm-2 col-form-label">Image Files</label>
              <div class="col-sm-10">
                <input name="images" accept="image/*" class="form-control" type="file" id="formFile" multiple>
              </div>
            </div>
            <div class="row mb-3">
              <label for="inputSummary" class="col-sm-2 col-form-label">Summary</label>
              <div class="col-sm-10">
                <textarea name="location" id="summary" class="form-control" style="height: 100px"></textarea>
              </div>
            </div>
            <div class="text-center">

              <button type="submit" class="btn btn-primary">Submit</button>
              <button type="reset" class="btn btn-secondary">Reset</button>
              {% if item_created %}
              <div class="alert alert-primary alert-dismissible fade show" role="alert">Item created successfully
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
              </div>
              {% endif %}
              {% if item_error %}
              <div class="alert alert-danger alert-dismissible fade show" role="alert">Error creating item. Please
                select a collection.<button type="button" class="btn-close" data-bs-dismiss="alert"
                  aria-label="Close"></button></div>
              {% endif %}
            </div>
          </form><!-- End Horizontal Form -->

        </div>
      </div>

      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Edit Items</h5>
          <!-- Table with hoverable rows -->
          <table class="table table-hover datatable">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Label</th>
                <th scope="col">Collection</th>
                <th scope="col"></th>
              </tr>
            </thead>
            <tbody>
              {% for item in items %}
              <tr id="{{ item.uuid }}" data-slug="{{ item.slug }}">
                <th scope="row">{{loop.index}}</th>
                <td>{{ item.label.en[0] }}</td>
                <td>{{ item.collection.en[0] }}</td>
                <td><i onclick="edit(this)" class="bi bi-pencil-square float-start"></i><i onclick="code(this)"
                    class="bi bi-code-slash float-end"></i></td>
              </tr>
              {% endfor %}

            </tbody>
          </table>
          <!-- End Table with hoverable rows -->

        </div>
      </div>

      <div id="existing" class="card">
        <div class="card-body">
          <h5 class="card-title">Add Existing Item</h5>
          <form method="post" action="/existing_item#existing" enctype="multipart/form-data">
            <div class="row mb-3">
              <label for="inputEmail3" class="col-sm-2 col-form-label">Item IIIF Manifest URI</label>
              <div class="col-sm-10">
                <input name="uri" type="url" class="form-control" id="uri">
              </div>
            </div>
            <div class="row mb-3">
              <label class="col-sm-2 col-form-label">Collection</label>
              <div class="col-sm-10">
                <select name="collection" class="form-select" aria-label="Default select example">
                  <option selected>Open this select menu</option>
                  {% for name in collection_names %}
                  <option value="{{ name }}">{{name }}</option>
                  {% endfor %}
                  
                </select>
              </div>
            </div>


            <div class="text-center">

              <button type="submit" class="btn btn-primary">Submit</button>
              <button type="reset" class="btn btn-secondary">Reset</button>
              {% if existing_created %}
              <div class="alert alert-primary alert-dismissible fade show" role="alert">Item created successfully
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
              </div>
              {% endif %}
              {% if iiif_error %}
              <div class="alert alert-danger alert-dismissible fade show" role="alert">Error creating item. Be sure to
                use a IIIF3 manifest.<button type="button" class="btn-close" data-bs-dismiss="alert"
                  aria-label="Close"></button></div>
              {% endif %}
              {% if existing_error %}
              <div class="alert alert-danger alert-dismissible fade show" role="alert">Error creating item. Please
                select a collection.<button type="button" class="btn-close" data-bs-dismiss="alert"
                  aria-label="Close"></button></div>
              {% endif %}
            </div>
          </form><!-- End Horizontal Form -->

        </div>
      </div>

    </div>
  </section>

</main><!-- End #main -->


<!-- Edit Item Modal -->
<div class="modal fade" id="itemEditModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div id="modalContent" class="modal-content">
      
      
    </div>
  </div>
</div>

<!-- Edit Code Modal -->
<div class="modal fade" id="editCodeModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="codeModalLabel">Edit Code</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>

{% endblock %}
{% block js %}
<script  src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.6/codemirror.min.js"></script>

<script>
  let itemEditModal = new bootstrap.Modal(document.getElementById('itemEditModal'), {
    keyboard: false
  })
  let editCodeModal = new bootstrap.Modal(document.getElementById('editCodeModal'), {
    keyboard: false
  })
  let doc;
  const edit = elem => {
    let itemEdit = document.getElementById('itemEditModal')
    let parent = elem.parentElement.parentElement;
    let uuid = parent.id
    
    fetch('/edit_item/' + uuid).then(function (response) {
      // The API call was successful!
      return response.text();
    }).then(function (html) {

      // Convert the HTML string into a document object
      var parser = new DOMParser();
      var doc = parser.parseFromString(html, 'text/html');
      document.getElementById("modalContent").innerHTML = html; 
      itemEditModal.show();
    }).catch(function (err) {
      // There was an error
      console.warn('Something went wrong.', err);
    });



  }
  const code = elem => {
    let itemEdit = document.getElementById('itemEditModal')
    let parent = elem.parentElement.parentElement;
    let uuid = parent.id
    location.assign('/edit_code/'+uuid);
  }
</script>


{% endblock %}