<div class="modal-header">
    <h5 class="card-title">Edit Item</h5>

    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
</div>
<div id="editItemModalBody" class="modal-body">


    <form method="post" enctype="multipart/form-data">
        
        <div class="row mb-3">
            <div class="col-sm-10">
                {% for key, value in manifest.items() %}
                <div class="input-group mb-3">
                    <span class="input-group-text manifest-data" id="{{key}}">{{key}}</span>
                    <input type="text" class="form-control" value="{{ value }}" placeholder="{{key}}" aria-label="{{key}}" aria-describedby="{{key}}">
                  </div>
                
                {% endfor %}
            </div>
        </div>
        <div class="row mb-3">
            
            <div class="col-sm-10">
                <div class="input-group mb-3">
                    <span class="input-group-text" id="images">Images</span>
                     <input name="images" accept="image/*" class="form-control" type="file" id="formFile" multiple>
            </div>
          </div>
          </div>
        <div class="text-center">

            <button type="submit" class="btn btn-primary">Submit</button>
            
        </div>
    </form><!-- End Horizontal Form -->

</div>