{% extends 'base.html' %}

{% block title %}Edit Code{% endblock %}
{% block css %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.6/codemirror.min.css">

{% endblock %}
{% block content %}

<div class="modal-header">
    <h5 class="card-title">Edit Item</h5>

    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
</div>


      <div id="editor" class="modal-body"></div>

{% endblock %}

{% block js%}
  <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.6/codemirror.min.js"></script>
  <script>

    
  let editor = CodeMirror(document.querySelector('#editor'), {
    matchBrackets: true,
    autoCloseBrackets: true,
    mode:  "javascript",
    lineWrapping: true,
    value: '{{ manifest|tojson }}'
});
</script>

{% endblock %}